@font-face {
  font-family: TaubSans-Regular;
  src: url('fonts/TaubSans-Regular.woff2') format('woff2');
}
@font-face {
  font-family: TaubSans;
  src: url('fonts/Taub_Nouf.ttf');
}
@font-face {
  font-family: TaubDisplayA;
  src: url('fonts/TaubDisplay-A.ttf') format('truetype');
}
@font-face {
  font-family: TaubDisplayB;
  src: url('fonts/TaubDisplay-B.ttf') format('truetype');
}
@font-face {
  font-family: TaubDisplayC;
  src: url('fonts/TaubDisplay-C.ttf') format('truetype');
}
@keyframes loadin {
	0% {
		font-variation-settings: 'wght' 200;
	}
	50% {
		font-variation-settings: 'wght' 1000;
	}
  100 {
    font-variation-settings: 'wght' 200;
  }
}

body {
  margin: 0px;
  padding: 0px;
}

a {
  font-family: TaubSans;
  font-variation-settings: 'wght' 100;
  font-size: 2vh;
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
}

/* Color schemes */
.demo-magneto {
  --color-text: #41353d;
  --color-background: #F2CAC1;
  --color-link: #000;
  --color-link-hover: #41353d;
}

.demos {
  position: fixed;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #efdfd1;
  color: #efdfd1;
  padding: 10px;
  /* transform: translate(-50%, -90%); */
  top: -44px;
  z-index: 3;
}

.demo {
  margin: 0 3em;
}

a.demo--current {
  /* text-decoration: underline; */
  color: #efdfd199;
  /* background-color: #D6D3CC; */
  /* pointer-events: none; */
}

.demo span {
  text-transform: lowercase;
  font-weight: bold;
  pointer-events: none;
  white-space: nowrap;
}

#animateSection {
  background-color: #f2635d;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-top: 3em; */
}

.properties {
  font-family: TaubDisplayB;
  font-size: 55vh;
  font-variation-settings: 'wght' 500;
  color: #efdfd1;
  cursor: default;
}

#defaultCanvas0 {
  position: absolute;
}

#introSection {
  background-color: #121c4e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: left;

  font-family: TaubSans;
  font-size: 2vh;
  color: #efdfd1;
}

#introTitle {
  /* background-color: green; */
  width: 50%;
  overflow: hidden;
  padding: 6em;
}

#introDescription {
  /* background-color: purple; */
  padding: 6em;
  width:40%;
  font-variation-settings: 'wght' 50;
  line-height: 4vh;
  font-size:2.5vh;
}
.taub {
  position: absolute;
  font-size: 30vh;
}
.taub:hover {
  cursor: pointer;
}

#gridSection {
  background-color: #F2CAC1;
  padding: 15vh;
  width: auto;
  height: auto;
}

#gridtitle {
  font-family: TaubSans;
  font-size: 1.5em;
  font-variation-settings: 'wght' 80;
  color: #263587;
}

#gridContainer {
  /* background-color: pink; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.grid-item {
  width: 30px;
  height: 30px;
  font-family: TaubSans-Regular;
  font-variation-settings: 'wght' 100;
  border: 0.5px solid #263587;
  padding: 15px;
  font-size: 1.8em;
  display: flex;
  justify-content: center;
  color: #263587;
}

.grid-item:hover {
  cursor: pointer;
}

#zoomLetter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.7);
  font-family: TaubSans-Regular;
  font-variation-settings: 'wght' 100;
  width: 200px;
  height: 200px;
  font-size: 9em;
  color: white;
  padding: 10px;
  visibility: hidden;
}

#AnatomySection {
  background-color: #7569A9;

}

#skeleton, #work {
  visibility: hidden;
  position: absolute;
  width:0%;
}

#letter-grid {
  padding: 10vh;
  margin-right: 1vh;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#dataSection {
  background-color: #222222;
  display: flex;
  flex-direction: row;
}

.data-properties {
  font-family: TaubSans;
  font-variation-settings: 'wght' 50;
  color: #ffffff;
}

#data-title {
  font-size: 3vh;
  padding: 2.5em;
  padding-right: 0em;
  color: #ffffff;
  white-space: nowrap;
}
#data-graphs {
  /* background-color: pink; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: left;
  flex-wrap: nowrap;
  width:50%;

}

#graph-1 {
  /* background-color: lightpink; */
  width: 40%;
  height: 100%;
  font-family: TaubDisplayA;
  font-size: 160vh;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #f9ac84;
  display: flex;
  justify-content: center;
  align-items: center;
}

#graph-2 {
  /* background-color: green; */
  width: 40%;
  height: 100%;
  font-family: TaubDisplayB;
  font-size: 160vh;
  color: #f2635d;
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  /* align-items: center; */
}

#graph-3 {
  /* background-color: purple; */
  width: 10%;
  height: 100%;
  font-family: TaubDisplayC;
  font-size: 160vh;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #fac8bf;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -50px;
}

#data-stats {
  padding: 2.5em;
  font-size: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#stat-1, #stat-2, #stat-3 {
  line-height:0.4em;
  margin-bottom: 40px;
}

#data-interactive {
  /* background-color: purple; */
  line-height: 0.2em;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 2px;
  background: rgba(255,255,255,0.5);
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10%;
  height: 3px;
  background: #ffffff;
  cursor: pointer;
}
