@font-face {
  font-family: TaubSans-Light;
  src: url('fonts/TaubSans-Light.woff') format('woff2');
}
@font-face {
  font-family: TaubSans-Light-Italic;
  src: url('fonts/TaubSans-LightItalic.woff2') format('woff2');
}
@font-face {
  font-family: TaubSans-Regular;
  src: url('fonts/TaubSans-Regular.woff2') format('woff2');
}
@font-face {
  font-family: TaubSans-Regular-Italic;
  src: url('fonts/TaubSans-RegularItalic.woff2') format('woff2');
}
@font-face {
  font-family: TaubSans-Medium;
  src: url('fonts/TaubSans-Medium.woff2') format('woff2');
}
@font-face {
  font-family: TaubSans-Medium-Italic;
  src: url('fonts/TaubSans-MediumItalic.woff2') format('woff2');
}
@font-face {
  font-family: TaubSans-Bold;
  src: url('fonts/TaubSans-Bold.woff2') format('woff2');
}
@font-face {
  font-family: TaubSans-Bold-Italic;
  src: url('fonts/TaubSans-BoldItalic.woff2') format('woff2');
}
@font-face {
  font-family: TaubSans-Heavy;
  src: url('fonts/TaubSans-Heavy.woff') format('woff2');
}
@font-face {
  font-family: TaubSans-Heavy-Italic;
  src: url('fonts/TaubSans-HeavyItalic.woff2') format('woff2');
}
@font-face {
  font-family: TaubSans-Super;
  src: url('fonts/TaubSans-Super.woff2') format('woff2');
}
@font-face {
  font-family: TaubSans-Super-Italic;
  src: url('fonts/TaubSans-SuperItalic.woff2') format('woff2');
}
@font-face {
  font-family: TaubDisplay-10;
  src: url('fonts/TaubDisplay-10.ttf');
}
@font-face {
  font-family: TaubDisplay-20;
  src: url('fonts/TaubDisplay-20.ttf');
}
@font-face {
  font-family: TaubDisplay-30;
  src: url('fonts/TaubDisplay-30.ttf');
}
@font-face {
  font-family: TaubDisplay-40;
  src: url('fonts/TaubDisplay-40.ttf');
}
@font-face {
  font-family: TaubDisplay-50;
  src: url('fonts/TaubDisplay-50.ttf');
}
@font-face {
  font-family: TaubDisplay-60;
  src: url('fonts/TaubDisplay-60.ttf');
}
@font-face {
  font-family: TaubDisplay-70;
  src: url('fonts/TaubDisplay-70.ttf');
}
@font-face {
  font-family: TaubDisplay-80;
  src: url('fonts/TaubDisplay-80.ttf');
}
@font-face {
  font-family: TaubDisplay-90;
  src: url('fonts/TaubDisplay-90.ttf');
}
@font-face {
  font-family: TaubDisplay-100;
  src: url('fonts/TaubDisplay-100.ttf');
}
@font-face {
  font-family: TaubSans;
  src: url('fonts/Taub_Nouf.ttf');
}
@font-face {
  font-family: Taubjs;
  font-variation-settings: 'wght' 0;
  src: url('fonts/Taub_Nouf.ttf');
}
@font-face {
  font-family: TaubDisplayA;
  src: url('fonts/TaubDisplay-A.ttf') format('truetype');
}
@font-face {
  font-family: TaubDisplayB;
  src: url('fonts/TaubDisplay-B.ttf') format('truetype');
}
@font-face {
  font-family: TaubDisplayC;
  src: url('fonts/TaubDisplay-C.ttf') format('truetype');
}
body {
  margin: 0px;
  padding: 0px;
}

.sections {
  display: flex;
  flex-direction: row;
}

.sans-h1 {
  font-family: TaubSans;
  font-size: 8vw;
  font-variation-settings: 'wght' 100;
}

.sans-h2 {
  font-family: TaubSans;
  font-size: 1.8vw;
  font-variation-settings: 'wght' 90;
}

.sans-h3 {
  font-family: TaubSans;
  font-size: 1.5vw;
  font-variation-settings: 'wght' 100;
}

.sans-p {
  font-family: TaubSans;
  font-size:1.5vw;
  font-variation-settings: 'wght' 50;
  line-height: 1.5em;
}

.display-T {
  font-family: TaubDisplayA;
  font-size: 55vh;
  font-variation-settings: 'wght' 500;
  color: #efdfd1;
  cursor: default;
}

@keyframes weight {
  0% {
    transform: scale(0.1);
    opacity: 0;
    font-variation-settings: 'wght' 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
    font-variation-settings: 'wght' 600;
  }
  100% {
    transform: scale(1);
    font-variation-settings: 'wght' 1000;
  }
}

#intro-section {
  background-color: #f2635d;
  color: #efdfd1;
  display: flex;
  flex-direction: column;
}

#intro-title {
  /* background-color: rgba(98,21,40,0.8); */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

#vid-desktop {
  width: 100% !important;
  height: auto !important;
  display: block !important;
}

#vid-mobile {
  display: none !important;
}

#intro-description {
  /* background-color: rgba(98,21,40,0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
  box-sizing: border-box;
  text-align: center;
}

#animate-section {
  background-color: #121c4e;
  justify-content: center;
  align-items: center;
}

#grid-section {
  background-color: #F2CAC1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#grid-title {
  color: #263587;
  padding: 60px;
  padding-bottom: 30px;
}

#grid-container {
  /* background-color: pink; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 75px;
  padding-top: 0px;
}

.grid-item {
  width: 3%;
  height: 3%;
  font-family: TaubSans-Regular;
  font-variation-settings: 'wght' 100;
  border: 0.5px solid #263587;
  padding: 15px;
  font-size: 1.8em;
  display: flex;
  justify-content: center;
  color: #263587;
}

#grid-enlarge {
  position: absolute;
  visibility: hidden;
  width: 200px;
  height: 200px;
  background-color: rgba(0,0,0,0.6);
  pointer-events: none;
  font-family: TaubSans-Regular;
  color: #ffffff;
  font-size: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#anatomy-section {
  background-color: #7569A9;
  flex-direction: column;
  cursor: crosshair;
}

#anatomy-description {
  color: #efdfd1;
  padding-left: 60px;
  padding-top: 60px;
  width: 30%;
  /* background-color: pink; */
}

#skeleton, #work, #anatomy-pic {
  visibility: hidden;
  width:0%;
}

#anatomy-description {
  display: none;
}

#letter-grid {
  padding: 10vh;
  margin-right: 1vh;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#data-section {
  background-color: #efdfd1;
  color: #121c4e;
}

#data-title {
  /* background-color: grey; */
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 75px;
  padding-left: 75px;
}
#data-graphs {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  height: auto;
  padding-left: 200px;
}

#graph-1-title, #graph-2-title, #graph-3-title {
  font-family: TaubSans;
  font-size: 1.5vw;
  font-variation-settings: 'wght' 90;
  line-height: 1.1;
}

#graph-1 {
  /* background-color: brown; */
  width: auto;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 20px;
}

#graph-1-num {
  /* background-color: pink; */
  font-family: TaubDisplayA;
  font-size: 15vh;
  color: #f9ac84;
  font-variation-settings: 'wght' 300;
}

#graph-2 {
  /* background-color: green; */
  width: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

#graph-2-num {
  /* background-color: yellow; */
  font-family: TaubDisplayC;
  color: #f2635d;
  font-size: 15vh;
  font-variation-settings: 'wght' 400;
}

#graph-3 {
  /* background-color: purple; */
  width: auto
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

#graph-3-num {
  /* background-color: orange; */
  font-family: TaubDisplayB;
  font-variation-settings: 'wght' 400;
  color: #fac8bf;
  font-size: 15vh;
}

#data-stats {
  /* background-color: purple; */
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  justify-content: space-between;
}

#data-interactive {
  /* background-color: purple; */
  padding-top: 60px;
  line-height: 0em;
}

#data-year {
  font-size:3vw;
  font-variation-settings: 'wght' 150;
  margin-bottom: 30px;
}

.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 3px;
  background: rgba(0,0,0,0);
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-color: #7569A9;
  border-style: hidden hidden dotted hidden;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10%;
  height: 7px;
  background: #121c4e;
  position: relative;
  top: 3px;
  border-radius: 20px;
}

#styles-section {
  background-color: #fac8bf;
  color: #263587;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
  box-sizing: border-box;
  overflow: hidden;
}
#styles-sans {
  width: 50%;
  padding: 75px;
}
#styles-display {
  background-color: #EEAF8A;
  width: 50%;
  padding: 75px;
}
#styles-title {
  line-height: 1.5em;
}
#styles-categories-sans {
  font-size: 2.1vw;
  line-height: 0.5em;
  /* background-color: aqua; */
}
#styles-categories-display {
  font-size: 2.5vw;
  line-height: 0.5em;
  /* background-color: brown; */
}
#sans-1 {font-family: TaubSans-Light}
#sans-2 {font-family: TaubSans-Light-Italic}
#sans-3 {font-family: TaubSans-Regular}
#sans-4 {font-family: TaubSans-Regular-Italic}
#sans-5 {font-family: TaubSans-Medium}
#sans-6 {font-family: TaubSans-Medium-Italic}
#sans-7 {font-family: TaubSans-Bold}
#sans-8 {font-family: TaubSans-Bold-Italic}
#sans-9 {font-family: TaubSans-Heavy}
#sans-10 {font-family: TaubSans-Heavy-Italic}
#sans-11 {font-family: TaubSans-Super}
#sans-12 {font-family: TaubSans-Super-Italic;}

#display-1 {font-family: TaubDisplay-10}
#display-2 {font-family: TaubDisplay-20}
#display-3 {font-family: TaubDisplay-30}
#display-4 {font-family: TaubDisplay-40}
#display-5 {font-family: TaubDisplay-50}
#display-6 {font-family: TaubDisplay-60}
#display-7 {font-family: TaubDisplay-70}
#display-8 {font-family: TaubDisplay-80}
#display-9 {font-family: TaubDisplay-90}
#display-10 {font-family: TaubDisplay-100}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .sections {
    display: flex;
    flex-direction: row;
  }

  .sans-h1 {
    font-family: TaubSans;
    font-size: 10vw;
    font-variation-settings: 'wght' 100;
  }

  .sans-h2 {
    font-family: TaubSans;
    font-size: 3.5vw;
    font-variation-settings: 'wght' 90;
  }

  .sans-h3 {
    font-family: TaubSans;
    font-size: 3vw;
    font-variation-settings: 'wght' 100;
  }

  .sans-p {
    font-family: TaubSans;
    font-size:2.5vw;
    font-variation-settings: 'wght' 50;
    line-height: 1.5em;
  }

  .display-T {
    font-family: TaubDisplayA;
    font-size: 25vh;
    font-variation-settings: 'wght' 500;
    color: #efdfd1;
    cursor: default;
  }

  #intro-section {
    background-color: #f2635d;
    color: #efdfd1;
    display: flex;
    flex-direction: column;
  }

  #intro-title {
    /* background-color: rgba(98,21,40,0.8); */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0em;
  }

  #vid-container {
    overflow:hidden;
    box-sizing: border-box;
  }

  #vid-desktop {
    display: none !important;
  }

  #vid-mobile {
    width: 200% !important;
    height: auto !important;
    display: block !important;
  }

  #intro-description {
    /* background-color: purple; */
    width:auto;
    padding:10px;
    padding-left: 50px;
    padding-right: 50px;
  }

  #data-title {
    /* background-color: grey; */
    padding:50px;
    padding-top: 40px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  #data-graphs {
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
    height: auto;
    padding: 40px;
    padding-right: 50px;
    padding-left: 80px;
  }

  #graph-1 {
    /* background-color: yellow; */
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  #graph-1-title, #graph-2-title, #graph-3-title  {
    /* background-color: red; */
    width: auto;
  }

  #graph-1-num {
    /* background-color: pink; */
    font-family: TaubDisplayA;
    font-size: 7vh;
    color: #f9ac84;
    font-variation-settings: 'wght' 300;
  }

  #graph-2 {
    /* background-color: green; */
    width: auto;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    overflow: hidden;
    padding: 0px;
  }

  #graph-2-num {
    /* background-color: lightblue; */
    font-family: TaubDisplayC;
    color: #f2635d;
    font-size: 7vh;
    font-variation-settings: 'wght' 400;
  }

  #graph-3 {
    /* background-color: purple; */
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  #graph-3-num {
    /* background-color: orange; */
    font-family: TaubDisplayB;
    font-variation-settings: 'wght' 400;
    color: #fac8bf;
    font-size: 7vh;
  }

  #data-year {
    /* background-color: red; */
    font-size:6vw;
    font-variation-settings: 'wght' 150;
    line-height: 0.5em;
  }

  .slider {
    -webkit-appearance: none;
    width: 70%;
    height: 3px;
    background: rgba(0,0,0,0);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-color: #7569A9;
    border-style: hidden hidden dotted hidden;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10%;
    height: 6px;
    background: #121c4e;
    position: relative;
    top: 3px;
    border-radius: 20px;
  }



  #animate-section {
    padding: 20vh;
    box-sizing: border-box;
    flex-direction: row;
  }

  #grid-section {
    width: auto;
    height: auto;
  }

  #grid-title {
    padding: 90px;
    padding-bottom: 50px;
    line-height: 0em;
  }

  #grid-container {
    /* background-color: pink; */
    padding: 50px;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .grid-item {
    width: 3%;
    height: 3%;
    font-family: TaubSans-Regular;
    font-variation-settings: 'wght' 150;
    border: 0.5px solid #263587;
    padding: 20px;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    color: #263587;
  }
  #anatomy-section {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  #anatomy-pic {
    visibility: visible;
    width:70%;
    height: auto;
  }

  #anatomy-description {
    padding: 0px;
    /* background-color: yellow; */
    width: auto;
    display: block !important;
  }

  #styles-section{
    padding: 0;
  }

  #styles-title {
    padding: 50px;
    /* background-color: blue; */
    font-variation-settings: 'wght' 100;
    font-size: 11vw;
    line-height: 1.2em;
    margin-bottom: 0px;
  }
  #styles-categories {
    padding: 4vh;
    padding-top: 0;
    font-size: 7vw;
    display: inline-block;
    line-height: 0.5em;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .sections {
    display: flex;
    flex-direction: column;
  }

  .sans-h1 {
    font-family: TaubSans;
    font-size: 10vh;
    font-variation-settings: 'wght' 80;
  }

  .sans-h2 {
    font-family: TaubSans;
    font-size: 8vw;
    font-variation-settings: 'wght' 50;
  }

  .sans-h3 {
    font-family: TaubSans;
    font-size: 6vw;
    font-variation-settings: 'wght' 100;
  }

  .sans-p {
    font-family: TaubSans;
    font-size:6vw;
    font-variation-settings: 'wght' 40;
  }

  .display-T {
    font-size: 20vh;
    font-variation-settings: 'wght' 500;
  }

  #intro-section {
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 2em;
    /* background-color: aqua; */
  }

  #vid-container {
    width: 200px;
    overflow:hidden;
    display:block;
    height: 360px;
    /* background-color: green; */
  }

  #vid-desktop {
    display: none !important;
  }

  #vid-mobile {
    width: 400% !important;
    height: auto !important;
    display: block !important;
  }

  #intro-title {
    /* background-color: rgba(98,21,40,0.8); */
    line-height: 0em;
  }

  #intro-description {
    /* background-color: purple; */
    width:auto;
    padding: 4vh;
    line-height: 1.5em;
  }

  #data-title {
    /* background-color: grey; */
    padding: 4vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  #data-description {
    /* background-color: pink; */
    line-height: 1.5em;
  }
  #data-graphs {
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
    height: auto;
    padding: 0px;
  }

  #graph-1 {
    /* background-color: yellow; */
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 4vh;
    padding-bottom: 10px;
  }

  #graph-1-title, #graph-2-title, #graph-3-title  {
    /* background-color: red; */
    width: auto;
    font-size: 2.5vh;
    font-variation-settings: 'wght' 100;
  }

  #graph-1-num {
    /* background-color: pink; */
    font-family: TaubDisplayA;
    font-size: 8vh;
    color: #f9ac84;
    font-variation-settings: 'wght' 300;
  }

  #graph-2 {
    /* background-color: green; */
    width: auto;
    display: flex;
    flex-direction: column;
    padding-left: 4vh;
    padding-bottom: 10px;
  }

  #graph-2-num {
    /* background-color: lightblue; */
    font-family: TaubDisplayC;
    color: #f2635d;
    font-size: 8vh;
    font-variation-settings: 'wght' 400;
  }

  #graph-3 {
    /* background-color: purple; */
    width: auto;
    display: flex;
    flex-direction: column;
    padding-left: 4vh;
    padding-bottom: 4vh;
  }

  #graph-3-num {
    /* background-color: orange; */
    font-family: TaubDisplayB;
    font-variation-settings: 'wght' 400;
    color: #fac8bf;
    font-size: 8vh;
  }

  #data-year {
    /* background-color: red; */
    font-size:7vw;
    font-variation-settings: 'wght' 150;
    line-height: 0.5em;
  }


  #animate-section {
    padding: 4vh;
  }

  #grid-section {
    width: auto;
    height: auto;
  }

  #grid-title {
    padding: 4vh;
  }

  #grid-container {
    /* background-color: pink; */
    padding: 4vh;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .grid-item {
    width: 3%;
    height: 3%;
    font-family: TaubSans-Regular;
    font-variation-settings: 'wght' 150;
    border: 0.5px solid #263587;
    padding: 20px;
    font-size: 6vw;
    display: flex;
    justify-content: center;
    color: #263587;
  }
  #anatomy-section {
    width: auto;
    height: auto;
  }

  #anatomy-pic {
    visibility: visible;
    width:100%;
    height: auto;
  }

  #anatomy-description {
    /* background-color: yellow; */
    width: auto;
    display: block !important;
    padding: 4vh;
  }
  #styles-sans {
    width: 100%;
    padding: 4vh;
  }
  #styles-display {
    width: 100%;
    padding: 4vh;
  }
  #styles-title {
    font-size: 5vw;
  }
  #styles-categories-sans {
    font-size:7vw;
    line-height: 0.5em;
  }
  #styles-categories-display {
    font-size:7vw;
    line-height: 0.5em;
  }
}
