#styles-sans {
  width: 100%;
  padding: 4vh;
}
#styles-display {
  width: 100%;
  padding: 4vh;
}
#styles-title {
  font-size: 5vw;
}
#styles-categories-sans {
  font-size:7vw;
  line-height: 0.5em;
}
#styles-categories-display {
  font-size:7vw;
  line-height: 0.5em;
}
